/* xs (<=543px) */
@media (max-width: 575px) {
    .nav-item {
        margin-left: 0px;
    }
    .form-inline {
        display: block!important;
    }
    .btn_block {
        width: 100%;
        text-align: center;
    }
    .btn_vertical {
        display: contents;
    }
    .custom-file-label {
        overflow: hidden;
    }
}
 
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
    .nav-item {
        margin-left: 0px;
    }
    .form-inline {
        display: block!important;
    }
    .btn_block {
        width: 100%;
        text-align: center;
    }
    .btn_vertical {
        display: contents;
    }
    .custom-file-label {
        overflow: hidden;
    }
}
 
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-item {
        margin-left: 0px;
    }
    .form-inline {
        display: block!important;
    }
    .btn_block {
        width: 100%;
        text-align: center;
    }
    .btn_vertical {
        display: contents;
    }
    .custom-file-label {
        overflow: hidden;
    }
}
 
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item {
        margin-left: 5px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 12px!important;
    }
    .custom-file-label {
        overflow: hidden;
    }
}
 
/* xl (>=1200) */
@media (min-width: 1200px) {
    .nav-item {
        margin-left: 5px;
    }
    .custom-file-label {
        overflow: hidden;
    }
}
