body {
    margin: auto;
    background: #96c6ca;
}

a {
    display: inline-block;
}

.nav-item {
    margin-left: 10px;
}
.nav-item .right, .addRiel{
    color: #ffffff!important;
}

.nav-item a, .local {
    color: #000!important;
}

.nav-item a:hover{
    color: #ffffff!important;
}

.card-home {
    margin-top: 20px;
}

.title-table {
    margin-top: 20px;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.title-table h3 {
    margin: 0px 0 5px;
    padding: 10px 0 10px;
}

#table1, #table111{
    background: white;
    margin-top: 30px;
    border-radius: 10px;
}


#table1 table thead{
    background: #17a2b8;
    color: #fff;
}

#table1 table {
    margin-top: -8px;
}

.bootstrap-table {
    margin: 0px 20px 0px;
}

.filter-control {
    padding: 0px 5px 5px;
}

.filter-control input {
    height: 30px;
}

.editable-buttons .btn-default{
    background: #ff0000;
    color: #fff;
}

.editLog, .editAn, .editCateg, .editPhones, .editPib, .activeUs label, .edAv, .editAdres, .editDate, .editName {
    cursor: pointer;
    transition: 1s;
}

.edAv:hover {
    transition: 1s;
    transform: scale(1.8);
    text-decoration: none;
}

.modal-header {
    background: #e3f2fd;
}

.form-log {
    margin: auto;
    background: #fff;
    padding: 20px 20px 20px;
    margin-top: 50px;
    border-radius: 10px;
    width: 360px;
}

.idd .fht-cell {
    width: 59px!important;
}

.addMatImg {
    padding: 20px;
    background: #f8f8f8;
    margin-bottom: 14px;
    border-radius: 10px;
    border: 1px solid silver;
}

.title_mod {
    text-align: center;
    padding-bottom: 10px;
}

.podfoto img {
    width: 100%;
    transition: 0.3s;
    z-index: 9991;
    margin: 0px 0px 20px 0px;
}

.trash {
    color: #E53935;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0px 0px 7px #fff, 0px 0px 10px #fff, 0px 0px 15px #fff;
    position: absolute;
    top: -10px;
    left: 15px;
}

.trash:hover {
    font-size: 2.2em;
    text-shadow: 0px 0px 1px #E53935, 0px 0px 3px #E53935, 0px 0px 5px #E53935;
    color: #fff;
}

.img_count {
    color: #000;
    background: #FAE4C7;
    border: 1px solid #32404E;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.addVoronka {
    overflow-y: scroll;
    height: 445px;
}

.local:hover {
    text-decoration: none;
}

.idd {
    width: 50px;
}