.home {
    padding: 80px 0;
}

.home .row {
    row-gap: 24px;
}

.home .card .card-img-top {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.link-card {
    text-decoration: none;
}

.link-card .card{
    transition: 0.5s;
}

.link-card:hover .card {
    box-shadow: 0 5px 10px #000000;
    transform: scale(1.02);
    transition: 0.5s;
}